<html>  
    <body>  
        <div>Hi,</div>
        <div>you asked for a password recovery on <a href="${appPath}">${artifactId}</a>.</div>  
        <br>
        <div>  
            <a href="${appPath}/#!/password-recovery?email=${userEmail}&token=${userToken}">Click here to reset your password</a>  
        </div>
        <br>
        <div>If you didn't request the reset, ignore this email.</div>
        <br>
        <div>Have a nice day!</div>
    </body>  
</html>  